.card {
    background-color: #fff !important;

    .title {
        padding: 20px;
        font-size: 32px;
        text-align: center;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 0px 30px;
        height: 180px;
    }
}
